[submodule "studio_proto2"]
	path = vendor/studio_proto2
	url = git@github.com:timCF/studio_proto.git
	branch = master
[submodule "studio_proto3"]
	path = vendor/studio_proto3
	url = git@github.com:timCF/studio_proto.git
	branch = proto3
